@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);


/*    NAV-1    */


.nav-1{
  margin-top: auto;
  text-align: right;
  width: 100%;
  background:#2E71CC;
}
.nav-1 nav{
  background:#3384F2;
}
.nav-1 .linktext{
  font-size:1.3em;
  text-align:center;
  position:relative;
  z-index:2;
  color:#85B9FF;
  text-decoration:none;
  font-family: 'Righteous', sans-serif;
  text-transform:uppercase;
  transition:0.3s ease-in-out;
  -webkit-transition:0.3s ease-in-out;
  transition-delay:0s;
  -webkit-transition-delay:0s;
}
.nav-1 .linktext:before, .nav-1 .linktext:after{
  opacity:0;
  position:absolute;
  top:7px;
  transform:translateY(36px);
  -webkit-transform:translateY(36px);
  left:0px;
  width:100%;
  transition:0.3s ease-in-out;
  -webkit-transition:0.3s ease-in-out;
  font-size:0.5em;
}
.nav-1 .linktext:before{
  content:'';
  height:2px;
  background:#236CCF;
  transition-delay:0s;
  -webkit-transition-delay:0s;
}
.nav-1 .linktext:after{
  content:attr(data-text);
  color:#85B9FF;
  transition-delay:0s;
  -webkit-transition-delay:0s;
}
.nav-1 .item{
  position:relative;
  display:inline-block;
  height:35px;
  padding-top:15px;
  scroll-behavior: smooth;
  margin-left:25px;
  margin-right:25px;
  margin-bottom:25px;
  background:transparent;
  transition:0.3s ease-in-out;
  -webkit-transition:0.3s ease-in-out;
  z-index:2;
  color:#007BFF;
  text-decoration:none;
  font-family:Arial, sans-serif;
  text-transform:uppercase;
  transition:0.3s ease-in-out;
  -webkit-transition:0.3s ease-in-out;
}
.nav-1 .item:hover .linktext{
  transform:scale(1.3);
  -webkit-transform:scale(1.3);
}
.nav-1 .item:hover .linktext:before{
  transition-delay:0s;
  -webkit-transition-delay:0s;
}
.nav-1 .item:hover .linktext:after{
  transition-delay:0.15s;
  -webkit-transition-delay:0.15s;
}
.nav-1 .item:hover .linktext:before, .nav-1 .item:hover .linktext:after{
  transform:translateY(16px);
  -webkit-transform:translateY(16px);
  opacity:1;
}